@import url('https://fonts.googleapis.com/css?family=Raleway:800');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700');

/* font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif; */

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("/assets/fonts/MyriadPro-Regular.otf") format("opentype")
}

@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic.ttf") format("opentype")
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #fefefe;
    background-color: #202020;
    opacity: 0.902;
    padding: 10px;
    max-width: 370px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #202020;
    text-align: center;
}

h2 span {
    color: #e25050;
}

h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.section--trainers h3 {
    padding-top: 53px;
    padding-bottom: 3px;
    margin-bottom: 60px;
    position: relative;
    color: #fff;
}

.section--trainers h3:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45px;
    height: 1px;
    margin: 0 auto;
    background-color: #fff;
}

.section--gallery h3 {
    color: #000;
    position: relative;
    margin-top: 74px;
    padding-bottom: 5px;
}

.section--gallery h3:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45px;
    height: 1px;
    margin: 0 auto;
    background-color: #000;
}

.pricing h3{
    position: relative;
    padding-top: 73px;
    padding-bottom: 4px;
}

.pricing h3:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45px;
    height: 1px;
    margin: 0 auto;
    background-color: #fff;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.heading h4 {
    color: #fefefe;
    background-color: #202020;
    opacity: 0.902;
    max-width: 260px;
    margin-bottom: 2px;
    padding: 11px 0;
}

.pricing h4{
    margin-top: 44px;
    margin-bottom: 33px;
}



h5 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.trainers h5 {
    margin: 0;
    color: #202020;
    padding-top: 15px;
    padding-left: 20px;
}

.gallery h5 {
    margin-top: 4px;
    color: #202020;
}

.contact h5 {
    color: #fff;
}

.message h5 {
    color: #fff;
    margin-bottom: 28px;
}



h6 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    text-transform: uppercase;

}

.trainers h6 {
    margin: 0;
    color: #afafaf;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 18px;
}

.gallery h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #afafaf;
    line-height: 2;

}

.heading h6 {
    color: #fefefe;
    background-color: #e25050;
    opacity: 0.902;
    max-width: 135px;
    margin-bottom: 2px;
    padding: 7px;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #202020;
    color: #fefefe;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding-top: 36px;
    padding-bottom: 35px;
}

.menu {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 31px;
    margin-bottom: 29px;
}

.menu li {
    margin-left: 20px;
    padding: 10px 12px;
}

.menu li a {
    text-decoration: none;
    color: #fefefe;
}

.menu li:hover {
    background-color: #e25050;
}

.section--slide {
    background-image: url(../images/slide2.png);
    background-position: center;
}

.phone {
    display: flex;
    justify-content: flex-end;
}

.phone--icon {
    background-color: #bd4141;
    padding: 10px 12px;
}

.phone--number {
    background-color: #e25050;
    padding: 8px 20px;
}

.phone--number a {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
}

.heading {
    display: flex;
    flex-direction: column;
    padding-top: 179px;
    padding-bottom: 211px;
    margin-left: 7px;
}

.section--training {
    padding-top: 25px;
}

.welcome h2 {
    margin-bottom: 0;
}

.welcome p {
    font-family: "DroidSerifItalic";
    font-size: 16px;
    text-align: center;
    color: #777;
    margin-top: 6px;
}

.training {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 9px;
}

.training h4 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.training div {
    flex-basis: 32%;
    text-align: center;
    margin-bottom: 44px;
}

.training p {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: 13px;
    line-height: 1.615;
    margin-top: 22px;
}

.section--trainers {
    background-image: url(../images/background_trainer.png);
    padding-bottom: 30px;
}

.trainers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.trainers div {
    flex-basis: 23%;
    background-color: #fff;
    margin-bottom: 30px;
}

.trainers p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #777;
    line-height: 1.615;
    padding-left: 20px;
    padding-right: 20px;
}


.schreffler,
.carrington,
.huffman,
.roger,
.cameron {
    position: relative;
}



.information {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #fff;
    display: none;
}

.icon {
    display: inline-block;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
}

.icon__tablet {
    background-position: -2px -186px;
    width: 74px;
    height: 93px;
}

.icon__heart {
    background-position: -351px -86px;
    width: 74px;
    height: 93px;
}

.icon__drink {
    background-position: -152px -87px;
    width: 74px;
    height: 93px;
}

.icon__flag {
    background-position: -252px -87px;
    width: 74px;
    height: 93px;
}

.icon__like {
    background-position: -451px -87px;
    width: 74px;
    height: 93px;
}

.icon__cardiogram {
    background-position: -52px -87px;
    width: 74px;
    height: 93px;
}

.icon__facebook--gray {
    background-position: -10px -1px;
    width: 7px;
    height: 15px;
}

.icon__facebook--white {
    background-position: -109px -4px;
    width: 7px;
    height: 15px;
}

.icon__facebook:hover {
    background-position: -60px -1px;
    width: 7px;
    height: 15px;
}

.icon__twitter--gray {
    background-position: -306px -51px;
    width: 14px;
    height: 13px;
}

.icon__twitter--white {
    background-position: -407px -52px;
    width: 14px;
    height: 13px;
}

.icon__twitter--big {
    background-position: -166px -301px;
    min-width: 35px;
    height: 20px;
}

.icon__twitter:hover {
    background-position: -356px -51px;
    width: 14px;
    height: 13px;
}

.icon__pinterest--gray {
    background-position: -458px -2px;
    width: 12px;
    height: 15px;
}

.icon__pinterest--white {
    background-position: -558px 0;
    width: 12px;
    height: 15px;
}

.icon__pinterest:hover {
    background-position: -506px -3px;
    width: 12px;
    height: 15px;
}

.icon__google-plus--gray {
    background-position: -154px -2px;
    width: 15px;
    height: 13px;
}

.icon__google-plus--white {
    background-position: -255px -3px;
    width: 15px;
    height: 13px;
}

.icon__google-plus:hover {
    background-position: -205px -2px;
    width: 15px;
    height: 13px;
}

.icon__tumblr--gray {
    background-position: -156px -51px;
    width: 10px;
    height: 15px;
}

.icon__tumblr--white {
    background-position: -260px -52px;
    width: 10px;
    height: 15px;
}

.icon__tumblr:hover {
    background-position: -208px -52px;
    width: 10px;
    height: 15px;
}

.icon__instagram--gray {
    background-position: -308px -1px;
    width: 15px;
    height: 15px;
}

.icon__instagram--white {
    background-position: -406px -1px;
    width: 15px;
    height: 15px;
}

.icon__instagram:hover {
    background-position: -354px -1px;
    width: 15px;
    height: 15px;
}

.icon__rss--gray {
    background-position: -5px -50px;
    width: 15px;
    height: 15px;
}

.icon__rss--white {
    background-position: -106px -50px;
    width: 15px;
    height: 15px;
}

.icon__rss:hover {
    background-position: -55px -50px;
    width: 15px;
    height: 15px;
}

.icon__phone {
    background-position: -9px -105px;
    width: 7px;
    height: 12px;
}

.icon__email {
    background-position: -558px -55px;
    width: 12px;
    height: 9px;
}

.icon__arrow {
    background-position: -460px -53px;
    width: 7px;
    height: 13px;
}

.icon__check{
    background-position: -507px -56px;
    width: 10px;
    height: 8px;
}

.schreffler:hover .information,
.carrington:hover .information,
.huffman:hover .information,
.roger:hover .information,
.cameron:hover .information {
    display: block;
    height: 100%;
}



















.information ul {
    display: flex;
    justify-content: space-between;
    padding: 45px 45px 0;
}


.information li :hover {
    color: #e25050;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.gallery a {
    flex-basis: 23%;
    margin-bottom: 28px;
}



.section--gallery {
    margin-bottom: 46px;
}


.section--gallery p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #777;
    line-height: 1.75;
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 20px;
}

.pricing{
    background-color: #e25050;
    color: #fff;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 57px;
}

.card{
    background-color: #d14343;
    flex-basis: 31.5%;
    border: 2px solid #d14343;
}

.card:hover{
    background-color: #e25050;
    border: 2px solid #fff;
}

.cost{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.cost sup{
    font-size: 14px;
}

.card__item{
    margin-top: 36px;
    padding-left: 0;
    line-height: 2.3;
}

.card__item span{
    margin-right: 15px;
}

.card button{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background: #e25050;
    border: 0;
    color: #fff;
    width: 230px;
    height: 53px;
    text-align: center;
    margin-bottom: 60px;
}

.card button:hover{
    background-color: #fff;
    color: #e25050;
}











footer {
    background-image: url(../images/background_footer.png);
    background-position: center;
}

.social {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 58px;
}

.social:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: #323232;
}

.small-startups {
    display: flex;
    max-width: 620px;
}

.small-startups span {
    align-self: center;
}

.small-startups p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    line-height: 1.692;
    margin-left: 17px;
}

.small-startups p span {
    color: #717171;
}

.social--list {
    display: flex;
    margin-top: 25px;
}

.social--list li {
    margin-left: 15px;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.contact {
    max-width: 360px;
    margin-right: 20px;
}

.contact p {
    color: #c6c6c6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 23px;
    line-height: 1.75;
}




.contact__phone {
    margin-top: 23px;
}

.contact__phone a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #c6c6c6;
    font-size: 12px;
}

.contact__email {
    margin-top: 5px;
}

.contact__email a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #c6c6c6;
    font-size: 12px;
}

.contact__phone span,
.contact__email span {
    margin-right: 10px;
}

.message {
    width: 670px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__top {
    display: flex;
    margin-bottom: 14px;
}

.form__top input {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    background: transparent;
    border: #4f4f4f solid 1px;
    text-transform: uppercase;
    color: #fff;
    width: calc(33% - 20px);
    padding: 10px;
    letter-spacing: 0.1em;
}

.form__top input:nth-child(2) {
    margin-right: 16px;
    margin-left: 16px;
}

.form__bottom {
    display: flex;
}

.form__bottom textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    background: transparent;
    border: #4f4f4f solid 1px;
    text-transform: uppercase;
    color: #fff;
    width: 63%;
    padding: 10px;
    letter-spacing: 0.1em;
}

.form__submit {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    width: 31.8%;
}

.form__submit button {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background: #e25050;
    border: 0;
    color: #fff;
    height: 36px;
    text-align: left;
    padding-left: 23px;
    vertical-align: top;
    letter-spacing: 0.06em;
    margin-bottom: 15px;
}

.form__submit span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #707070;
}




button .icon__arrow {
    float: right;
    padding-right: 15px;
    margin-top: 4px;

}

.copyright {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 78px;
    padding-bottom: 27px;
}

.copyright p {
    color: #707070;

}

.copyright a {
    color: #e25050;
    margin-top: 16px;
    text-decoration: underline;
}


/************************************************************media*************************************************************************/


@media (max-width: 1200px) {
    .trainers{
        justify-content: space-evenly;
    }

    .gallery{
        justify-content: space-evenly;
    }

}

@media (max-width: 992px) {
    .form__bottom {
        flex-direction: column;
    }

    .form__bottom textarea {
        width: calc(100% - 20px);
        margin-bottom: 14px;
    }

    .form__submit {
        margin: auto;
        width: 41%;
    }

    .form__submit span {
        text-align: center;
    }

    .contact {
        margin-right: 20px;
    }

    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu {
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .menu li {
        margin-left: 15px;
        padding: 16px 12px;
    }
}

@media (max-width: 768px) {

    .social {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .social--list {
        margin-top: 10px;
        padding-left: 0;
    }

    .social--list li:first-child {
        margin-left: 0;
    }

    .feedback {
        flex-direction: column;
    }

    .contact {
        max-width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .message {
        width: 100%;
        text-align: center;
    }

    .container--flex{
        flex-direction: column;
    }

    .logo{
        text-align: center;
    }

    .menu{
        margin-top: 0;
        justify-content: inherit;
    }

    .menu li{
        margin-left: 0;
    }

    .training div{
        flex-basis: 48%;
    }



}

@media (max-width: 576px) {
    .feedback {
        flex-direction: column-reverse;
    }

    .social__block {
        margin-left: auto;
        margin-right: auto;
    }

    .form__top {
        flex-direction: column;
    }

    .form__top input {
        width: calc(100% - 20px);
        margin-top: 14px;
    }

    .form__top input:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }

    .form__submit {
        width: 70%;
        margin-bottom: 40px;
    }

    .form__bottom textarea {}

    .copyright {
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }

    .menu{
        display: none;
    }

    h1{
        font-size: 21px;
        text-align: left;
        padding-left: 22px;
    }

    .heading h6{
        padding-left: 22px;
        text-align: left;
    }

    .heading h4{
        font-size: 16px;
        text-align: left;
        padding-left: 22px;
    }

    .training div {
        flex-basis: 100%;
    }
}